<mat-accordion *ngIf="livros.length > 0">
  <mat-expansion-panel *ngFor="let l of livros">
    <mat-expansion-panel-header>Livro: {{l.titulo}}</mat-expansion-panel-header>
    <div class="livro-imagem">      
      <img [src]="l.imagem" [alt]="l.titulo">    
    </div>
    <p>Autor: {{l.autor}}</p>
    <hr />
    <p>Paginas: {{l.paginas}}</p>
    <hr />
    <p>Id: {{l.id}}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/editar', l.id]">EDITAR</a>
      <button  mat-button color="warn" (click)="onDelete(l.id)" >REMOVER</button>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalDeLivros"></mat-paginator>
